<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="QA Test RingCentral">

    <test name="Fetch All Users">
        <classes>
            <class name="BaseTest"/>
            <class name="findalluser.FindAllUsers"/>
        </classes>
    </test>

</suite>